<h1><%= @user.name %>'s Dashboard</h1>
<%= button_to "Discover Movies", "/discover", method: :get %>

<% @user.partys.each do |party| %>
  <% if party.host_id == @user.id %>
  <div id="hosting">
    <h2>Parties this user is hosting:</h2>
      <ul>
        <p>Movie Title: <%= link_to "#{@movie.title}", "/movies/#{@movie.id}" %></p>
        <p><%= image_tag "https://image.tmdb.org/t/p/original/#{@movie.poster_path}", :size =>'220x220'%></p>
        <p>Date: <%= party.date.strftime('%m/%d/%Y') %></p>
        <p>Duration: <%= party.duration %></p>
        <p>Start Time: <%= party.start_time.strftime('%I:%M %p')%></p>
        <h4> Users Invited: </h4>
          <% party.users.each do |user| %>
              <p><%= user.name %></p>
          <% end %>
      </ul>
      </div>
    <% else %>
    <div id="invited">
    <h2>Parties this user is invited to:</h2>
      <ul>
        <p>Movie Title: <%= link_to "#{@movie.title}", "/movies/#{@movie.id}" %></p>
        <p><%= image_tag "https://image.tmdb.org/t/p/original/#{@movie.poster_path}", :size =>'220x220'%></p>


        <h4>Host for viewing party: <%= @host.name %></h4>


        <p>Date: <%= party.date.strftime('%m/%d/%Y') %></p>
        <p>Duration: <%= party.duration %></p>
        <p>Start Time: <%= party.start_time.strftime('%I:%M %p')%></p>
        <h4> Users Invited: </h4>
          <% party.users.each do |user| %>
              <p><%= user.name %></p>
          <% end %>
      </ul>
    </div>
  <% end  %>
<% end %>
